<table class="products-table">
  <thead>
    <tr>
      <th>Image</th>
      <th>Information</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let product of products">
      <td class="col col-image">
        <div class="product-image">
          <img
            [src]="product.image"
            [alt]="product.name"
          >
        </div>
      </td>
      <td class="col">
        <dl class="product-details">
          <dt>Name:</dt>
          <dd>{{ product.name }}</dd>
          <dt>Price:</dt>
          <dd>{{ product.price }} UAH</dd>
          <dt>Code:</dt>
          <dd>{{ product.code }}</dd>
          <dt>Category:</dt>
          <dd>{{ categories | typeValue: product.categoryId }}</dd>
          <dt>Branding:</dt>
          <dd>{{ brands | typeValue: product.brandId }}</dd>
          <dt>Status:</dt>
          <dd>
            <ng-container *ngIf="product.status === 'active'">
              {{ product.count }} items in stock
            </ng-container>
            <ng-container *ngIf="product.status === 'inactive'">
              No items
            </ng-container>
            <ng-container *ngIf="product.status === 'expected'">
              New items expected until {{ product.expectedAt | date }}
            </ng-container>
          </dd>
          <dt>Updated date:</dt>
          <dd>{{ product.updatedAt | date: 'medium' }}</dd>
          <dt>Created date:</dt>
          <dd>{{ product.createdAt | date: 'medium' }}</dd>
          <dt class="space">Description:</dt>
          <dd>{{ product.description }}</dd>
          <dt class="space">Services:</dt>
          <dd>
            <div *ngIf="product.guaranty">1 year guarantee maintenance</div>
            <div *ngIf="product.trialPeriod">14 days trial period</div>
          </dd>
        </dl>
      </td>
      <td class="col col-actions">
        <div class="product-actions">
          <a href="#" (click)="viewProduct.emit(product); $event.preventDefault()">View</a>
<!--          <a href="#" (click)="openProduct.emit(product); $event.preventDefault()">Edit</a> |-->
<!--          <a href="#" (click)="deleteProduct.emit(product); $event.preventDefault()">Delete</a>-->
        </div>
      </td>
    </tr>
  </tbody>
</table>
