<ng-container *ngIf="{
  brands: brands$ | async,
  categories: categories$ | async,
  products: products$ | async
} as data">
  <div class="products">
    <app-products-filters
      [categories]="data.categories ?? []"
      (changeFilter)="changeFilter($event)"
    />
    <app-products-table
      *ngIf="data.products?.length else empty"
      [brands]="data.brands ?? []"
      [categories]="data.categories ?? []"
      [products]="data.products ?? []"
      (openProduct)="openProduct($event)"
      (deleteProduct)="deleteProduct($event)"
      (viewProduct)="viewProduct($event)"
    />
  </div>
  <ng-template #empty>
    <div class="products-empty">
      <p>No found any products</p>
    </div>
  </ng-template>
</ng-container>





<!--    <div class="products-panel">-->
<!--      <div></div>-->
<!--      <button class="btn" (click)="createProduct()">Create product</button>-->
<!--      <button class="btn btn-outline" (click)="deleteProducts()">Delete products</button>-->
<!--    </div>-->
<!--    <p>No found any products. Do you want to create your first product?</p>-->
<!--    <button class="btn" (click)="createProduct()">Create product</button>-->
