<form
  #productsFilters="ngForm"
  class="products-filters"
  action="#"
  autocomplete="on"
  name="form"
>
  <div class="form-item">
    <label for="categoryId" class="form-label">Categories</label>
    <div class="form-select">
      <select
        class="form-control"
        id="categoryId"
        name="categoryId"
        required
        [(ngModel)]="form.categoryId"
      >
        <option value="all" selected>All categories</option>
        <option *ngFor="let category of categories" [value]="category.id">{{ category.value }}</option>
      </select>
    </div>
  </div>
</form>

