@use 'variables' as var;

.btn-group {
  display: flex;
  gap: 0.5rem;

  @media (width <= 767px) {
    flex-direction: column;
    gap: 1rem;
  }
}

.btn {
  background-color: var.$btn-background;
  border: 1px solid var.$btn-border;
  border-radius: var.$btn-border-radius;
  color: var.$btn-color;
  cursor: pointer;
  display: inline-block;
  font-size: var.$btn-font-size;
  line-height: var.$btn-line-height;
  min-width: 5rem;
  padding: var.$btn-padding;
  text-align: center;
  text-decoration: none;
  transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
  user-select: none;
  vertical-align: middle;

  &:hover {
    background-color: var.$btn-background-hover;
    border-color: var.$btn-border-hover;
  }
}

.btn.btn-outline {
  background-color: var.$btn-outline-background;
  border: 1px solid var.$btn-outline-border;
  color: var.$btn-outline-color;

  &:hover {
    background-color: var.$btn-outline-background-hover;
    color: var.$btn-outline-color-hover;
  }
}
