@use 'variables' as var;

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  color: var.$font-color;
  font-family: var.$font-family;
  font-size: var.$font-font-size;
  line-height: var.$font-line-height;
  margin: 0;
  min-width: 320px;
}

.container {
  padding: 1rem;
}
