@use 'variables' as var;

form {
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 1rem;
}

textarea {
  height: auto !important;
  resize: none;
}

fieldset {
  border: 1px solid var.$gray-500;
  border-radius: var.$border-radius;
  padding: 1rem;

  legend {
    padding: 0 0.5rem;
  }
}

.form-items {
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 1.5rem;
  padding-bottom: 1rem;
}

.form-item {
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 0.25rem;
  position: relative;
}

.form-label {
  font-size: var.$form-label;

  .required {
    color: var.$red-500;
  }
}

.form-control {
  -webkit-appearance: none; /* stylelint-disable-line */
  appearance: none;
  background-color: var.$form-control-background;
  border: 1px solid var.$form-control-border;
  border-radius: var.$form-control-border-radius;
  color: var.$form-control-color;
  display: block;
  font-family: var.$font-family;
  font-size: var.$form-control-font-size;
  height: 40px;
  line-height: var.$form-control-line-height;
  padding: var.$form-control-padding;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  width: 100%;

  &:focus {
    border-color: var.$form-control-border-focus;
    box-shadow: var.$form-control-shadow-focus;
    outline: 0;
  }

  &.valid {
    border-color: var.$form-control-border-valid;

    &:focus {
      box-shadow: var.$form-control-shadow-valid;
    }
  }

  &.invalid {
    border-color: var.$form-control-border-invalid;

    &:focus {
      box-shadow: var.$form-control-shadow-invalid;
    }
  }
}

.form-select {
  position: relative;

  &::after {
    content: "\25BC";
    pointer-events: none;
    position: absolute;
    right: 0.5rem;
    top: 50%;
    transform: translateY(-50%) scale(0.75);
    transition: 0.25s all ease;
    z-index: 10;
  }
}

input[type="file"].form-control {
  height: auto;

  &::file-selector-button {
    background-color: var.$btn-background;
    border: 1px solid var.$btn-border;
    border-radius: var.$btn-border-radius;
    color: var.$form-control-color;
    cursor: pointer;
    display: inline-block;
    font-size: var.$btn-font-size;
    line-height: var.$btn-line-height;
    min-width: 5rem;
    padding: var.$btn-padding;
    text-align: center;
    text-decoration: none;
    transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
    user-select: none;
    vertical-align: middle;

    &:hover {
      background-color: var.$btn-background-hover;
      border-color: var.$btn-border-hover;
    }
  }
}

.form-radio-group {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  .form-label {
    align-items: center;
    display: flex;
    gap: 0.5rem;
    user-select: none;
  }

  input[type="radio"] {
    appearance: none;
    background-color: var.$white-500;
    border: 1px solid var.$gray-500;
    border-radius: 50%;
    color: currentColor;
    display: grid;
    height: 1.25rem;
    margin: 0;
    place-content: center;
    width: 1.25rem;

    &::before {
      border-radius: 50%;
      box-shadow: inset 1em 1em var.$blue-500;
      content: "";
      height: 0.625rem;
      transform: scale(0);
      transition: 120ms transform ease-in-out;
      width: 0.625rem;
    }

    &:checked::before {
      transform: scale(1);
    }

    &.valid:checked {
      border-color: var.$form-control-border-valid;
    }

    &.invalid {
      border-color: var.$form-control-border-invalid;
    }
  }
}

.form-checkbox {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  .form-label {
    align-items: center;
    display: flex;
    gap: 0.5rem;
    user-select: none;
  }

  input[type="checkbox"] {
    appearance: none;
    background-color: var.$white-500;
    border: 1px solid var.$gray-500;
    color: currentColor;
    display: grid;
    height: 1.25rem;
    margin: 0;
    place-content: center;
    width: 1.25rem;

    &::before {
      box-shadow: inset 1em 1em var.$blue-500;
      content: "";
      height: 0.625rem;
      transform: scale(0);
      transition: 120ms transform ease-in-out;
      width: 0.625rem;
    }

    &:checked::before {
      transform: scale(1);
    }

    &.valid:checked {
      border-color: var.$form-control-border-valid;
    }

    &.invalid {
      border-color: var.$form-control-border-invalid;
    }
  }
}

.form-errors {
  bottom: -1.25rem;
  color: var.$form-control-error-color;
  font-size: var.$form-control-error-font-size;
  left: 0;
  position: absolute;
  right: 0;
}

.form-image-preview {
  height: 12rem;
  overflow: hidden;
  width: 12rem;

  img {
    display: block;
    height: 12rem;
    object-fit: contain;
    width: 12rem;
  }
}

input::placeholder {
  color: var.$form-control-color;
  opacity: 1;
}
