.form-grid {
  display: grid;
  grid-gap: 1rem;

  .form-grid-1 {
    grid-column: 1 / span 1;

    @media (width <= 1023px) {
      grid-column: 1;
    }
  }

  .form-grid-2 {
    grid-column: 2;
    grid-row: 1 / span 2;

    @media (width <= 1023px) {
      grid-column: 1;
      grid-row: 2;
    }
  }

  .form-grid-3 {
    grid-column: 1;
    grid-row: 2;

    @media (width <= 1023px) {
      grid-column: 1;
      grid-row: 3;
    }
  }
}
