@use 'variables' as var;

.products {
  display: flex;
  gap: 1rem;

  @media (width <= 767px) {
    flex-direction: column;
  }
}

.products-filters {
  min-width: 15rem;
}

.products-panel {
  display: flex;
  gap: 1rem;

  > *:first-child {
    margin: 0 auto 0 0;
  }
}

.product-image {
  width: 6rem;

  img {
    display: block;
    object-fit: contain;
    width: 6rem;
  }
}

.products-empty {
  text-align: center;
}

.products-table {
  .col {
    vertical-align: top;
  }

  .col-image,
  .col-actions {
    width: 8rem;
  }
}

.product-details {
  margin: 0;

  dt {
    color: var.$gray-700;
    float: left;
    margin-right: 0.25rem;

    &.space {
      float: none;
      margin-top: 1rem;
    }
  }

  dd {
    margin: 0;
    overflow: hidden;
  }
}

.product-actions {
  align-content: center;
  display: flex;
  gap: 0.5rem;

  span {
    cursor: pointer;
  }
}
