@use 'variables' as var;

table {
  border-collapse: collapse;
  width: 100%;
}

th,
td {
  border: 1px solid var.$gray-500;
  padding: 0.5rem 1rem;
}

tbody {
  td {
    font-size: var.$font-font-sm;
  }

  tr:hover td {
    background-color: rgba(var.$gray-500, 0.2);
  }
}

@media (width <= 767px) {
  table thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }

  table tr {
    border-bottom: 1px solid var.$gray-500;
    display: block;
    margin-bottom: .625em;
    overflow: hidden;

    &:first-child {
      border-top: 1px solid var.$gray-500;
    }
  }

  table td {
    background-color: transparent !important;
    border: none;
    display: block;
    font-size: .8em;
    min-height: 2.25rem;
  }

  table td::before {
    content: attr(data-label);
    float: left;
    font-weight: bold;
    text-transform: uppercase;
  }

  table td:last-child {
    border-bottom: 0;
  }
}

