<button class="btn btn-outline" type="button" (click)="navigateToProducts()">Back to products</button>

<ng-container *ngIf="{
 brands: brands$ | async,
 categories: categories$ | async,
 product: product$ | async
} as data">
  <app-product-form
    [brands]="data.brands ?? []"
    [categories]="data.categories ?? []"
    [product]="data.product"
    (updateProduct)="updateProduct($event)"
    (createProduct)="createProduct($event)"
  />
</ng-container>
