<button class="btn btn-outline" type="button" (click)="navigateToProducts()">Back to products</button>

<ng-container *ngIf="{
 brands: brands$ | async,
 categories: categories$ | async,
 product: product$ | async
} as data">
  <br><br>
  <ng-container *ngIf="data.product">
    <div class="product-image">
    <img [src]="data.product.image" [alt]="data.product.name">
  </div>
    <dl class="product-details">
    <dt>Name:</dt>
    <dd>{{ data.product.name }}</dd>
    <dt>Price:</dt>
    <dd>{{ data.product.price }} UAH</dd>
    <dt>Code:</dt>
    <dd>{{ data.product.code }}</dd>
    <dt>Category:</dt>
    <dd>{{ data.categories! | typeValue: data.product.categoryId }}</dd>
    <dt>Branding:</dt>
    <dd>{{ data.brands! | typeValue: data.product.brandId }}</dd>
    <dt>Status:</dt>
    <dd>
      <ng-container *ngIf="data.product.status === 'active'">
        {{ data.product.count }} items in stock
      </ng-container>
      <ng-container *ngIf="data.product.status === 'inactive'">
        No items
      </ng-container>
      <ng-container *ngIf="data.product.status === 'expected'">
        New items expected until {{ data.product.expectedAt | date }}
      </ng-container>
    </dd>
    <dt>Updated date:</dt>
    <dd>{{ data.product.updatedAt | date: 'medium' }}</dd>
    <dt>Created date:</dt>
    <dd>{{ data.product.createdAt | date: 'medium' }}</dd>
    <dt class="space">Description:</dt>
    <dd>{{ data.product.description }}</dd>
    <dt class="space">Services:</dt>
    <dd>
      <div *ngIf="data.product.guaranty">1 year guarantee maintenance</div>
      <div *ngIf="data.product.trialPeriod">14 days trial period</div>
    </dd>
  </dl>
  </ng-container>
</ng-container>
